{% extends "base.html" %}

{% block title %}Archives | {{ super() }}{% endblock title %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-pencil"></span>
    <h2>Archives</h2>
    <!-- add page sub title here -->
    <p>$ tar -cvf archives.tar post*</p>
  </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <div class="row oneandhalf">

            <div class="8u">
                <div class="content">
                {% for article in dates %}
                    <section>
                        <!-- <a href="#" class="image feature"><img src="images/pic03.jpg" alt="" /></a> -->
                        <header>
                            <a href="/{{ article.url }}"><h3>{{ article.title }}</h3></a>
                        </header>
                        <p>{{ article.summary|striptags }}</p>
                    </section>
                {% endfor %}
                </div>
            </div>


            <div class="4u">
                {% include 'sidebar_alt.html' %}
            </div> <!-- end sidebar 4u -->

        </div>
    </section>
</article>

{% include 'cta.html' %}

{% endblock content %}