{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-{{ article.icon }}"></span>
    <h2>{{ article.title }}</h2>
    <!-- add page sub title here -->
    <p>Posted on {{ article.locale_date }} by {{ article.author }}</p>
    <p>{{ article.icon }}</p>
  </header>

  <!-- One -->
    <section class="wrapper style4 container">

      <!-- Content -->
        <div class="content">
          <section>
            <!-- <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a> -->
            <h3>Posted in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></h3>
            <p class="tags">
            {% if article.tags %}
              {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
              {% endfor %}
            {% endif %}</p>
            <p>{{ article.content }}</p>
          </section>
        </div>

   {% if article.album is not None%}
      <h2><a href="{{ SITEURL }}/pages/gallery.html#{{ article.album }}">{{ article.album }}</a></h2>
      <ul>
      {% for image in article.galleryimages %}
      <li><a class="{{ article.album }} cboxElement" href="{{ SITEURL }}/static/images/gallery/{{ article.album }}/{{ image }}"><img src="{{ SITEURL }}/static/images/gallery200x200/{{ article.album }}/{{ image }}"></a></li>
      {% endfor %}
      </ul>
   {% endif %}
    </section>

    <!-- Two -->
    {% include 'most_recent.html' %}

  </article>

{% if DISQUS_SITENAME %}
  <div id="comments">
      <h2 class="space-above">Comments</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_identifier = "{{ article.url }}";
          (function() {
              var dsq = document.createElement('script');
              dsq.type = 'text/javascript';
              dsq.async = true;
              dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
  </div>
{% endif %}

{% endblock content %}
