    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">
          <img class="logo" src="images/f_logo_wht.svg">
        </div>
        <!-- <footer>
          <a href="#main" class="fit scrolly">Frank Valcarcel</a>
        </footer> -->

      </section>