{% extends "base.html" %}

{% block title %}{{ category|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-mobile"></span>
    <h2>{{ category }}</h2>
    <!-- add page sub title here -->
    <p>Category Template</p>
  </header>

    <!-- One -->
    <section class="wrapper style4 container">

        <div class="row oneandhalf">

            <div class="8u">
                <div class="content">
                {% for article in articles %}
                    <section>
                        <!-- <a href="#" class="image feature"><img src="images/pic03.jpg" alt="" /></a> -->
                        <header>
                            <a href="{{ SITEURL }}/{{ article.url }}"><h3>{{ article.title }}</h3></a>
                        </header>
                        <p>{{ article.summary|striptags }}</p>
                    </section>
                {% endfor %}
                </div>
            </div>


            <div class="4u">

                <!-- Sidebar -->
                <div class="sidebar">
                    <section>
                        <header>
                            <h3>Magna Feugiat</h3>
                        </header>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
                        <footer>
                            <ul class="buttons">
                                <li><a href="#" class="button small">Learn More</a></li>
                            </ul>
                        </footer>
                    </section>

                    <section>
                        <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a>
                        <header>
                            <h3>Amet Lorem Tempus</h3>
                        </header>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                        <footer>
                            <ul class="buttons">
                                <li><a href="#" class="button small">Learn More</a></li>
                            </ul>
                        </footer>
                    </section>
                </div>

            </div>

        </div>
    </section>

    <!-- Two -->
    {% include 'most_recent.html' %}

</article>
{% endblock content %}