

{% extends "base.html" %}

{% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}

<section class="wrapper style4 container">

  <!-- Content -->
    <div class="content">
      <section>
        <!-- <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a> -->
        <p>{{ page.content }}</p>
      </section>


{% for album, images in page.gallery.iteritems() %}
<h2><a name="{{ album }}">{{ album }}</a></h2>
<ul>
    {% for image in images %}
    <li><a class="{{ album }} cboxElement" href="{{ SITEURL }}/images/gallery/{{album}}/{{ image }}" title="{{ image }}"><img src="{{ SITEURL }}/images/gallery200x200/{{album}}/{{ image }}"></a></li>
    {% endfor %}
</ul>
{% endfor %}

</div>

</section>

{% endblock content %}
