{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}

<style>
h1, h2, h3, h4, h5, h6{
  margin-bottom: 0.25em
}

.wrapper a{
  color: #277D73;
}
</style>
<!-- Main -->
<article id="main">

  <!-- One -->
  <section class="wrapper style2 container special-alt">
    <div class="row half">
      <div class="6u">
        <h2>Contact&nbsp;Us</h2>
        <h3>Lab&nbsp;Location</h3>
        <p><a href="http://www.sanfordconsortium.org/">Sanford Consortium for Regenerative Medicine</a>
        (<a href="https://www.google.com/maps/place/sanford+consortium/data=!4m2!3m1!1s0x0:0x97741ae2ff2bd85a?sa=X&amp;ved=0CCQQrwswAGoVChMIyZ7S3NuuyAIVyTOICh1eCQ1-">map</a>)<br>
        <p class="tab">
            Room 38109-13, Wet Lab<br>
            Room 3114/3115, Bioinformatics Lab<br>
            Room 3008, Gene&#8217;s Office<br>
        </p></p>
        <h3>Mailing&nbsp;Address</h3>
        <p>2880 Torrey Pines Scenic Dr.<br>
        Room 3109-13/Yeo Lab <br>
        La Jolla, <span class="caps">CA</span> 92037<br></p>
        <h3>Telephone</h3>
        <p>(858) 246-1497, Wet Lab <br>
        (858) 534-9322, Bioinformatics Lab<br></p>
        <h3>Fax</h3>
        <p>(858)&nbsp;246-1579</p>
        <h3>Email</h3>
        <p>geneyeo at ucsd dot&nbsp;edu</p>
      </div>
      <div class="6u skel-cell-important">
        <a class="twitter-timeline" href="https://twitter.com/yeo_lab" data-widget-id="335485531104370688">Tweets by @yeo_lab</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <h3 style="margin-top: 2em;">Affiliated&nbsp;Departments</h3>
          <p><a href="http://healthsciences.ucsd.edu/som/cmm/Pages/default.aspx">Cellular and Molecular Medicine</a><br>
          <a href="http://igm.ucsd.edu/genomics/">Institute of Genomic Medicine</a><br>
          <a href="http://stemcells.ucsd.edu/"><span class="caps">UCSD</span> Stem Cell Program</a><br>
          <a href="http://cancer.ucsd.edu/Pages/default.aspx"><span class="caps">UCSD</span> Moores Cancer Center</a><br>
          <a href="http://matsci.ucsd.edu/">Material Sciences Graduate Program</a><br>
          <a href="http://biomedsci.ucsd.edu/">Biomedical Sciences Graduate Program</a><br>
          <a href="http://bioinformatics.ucsd.edu/">Bioinformatics Graduate Program</a><br>
          <a href="http://biology.ucsd.edu/">Biological Sciences Graduate Program</a><br></p></p>

        <!-- <ul class="feature-icons"> -->
          <!-- <li><span class="mdi mdi-bowling"></span></li>
          <li><span class="mdi mdi-laptop"></span></li>
          <li><span class="mdi mdi-beaker-outline"></span></li>
          <li><span class="mdi mdi-chart-bar"></span></li>
          <li><span class="mdi mdi-needle"></span></li>
          <li><span class="mdi mdi-file-image"></span></li> -->
        <!-- </ul> -->

      </div>
    </div>
  </section>


</article>

{% endblock content %}
