{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
    </span>
    <h2>Lover of <strong>programming</strong>, <strong>black teas</strong>, and <strong>bbq</strong>.</h2>
    <p>Good with Python, Javascript, UI, data, & maths.<br>
      I build things for fun and profit :)<br>
      <strong>Go Noles!</strong></p>
  </header>

  <!-- One -->
  <section class="wrapper style2 container special-alt" style="display:none;">
    <div class="row half">
      <div class="8u">

        <header>
          <h2>Behold the <strong>icons</strong> that visualize what you’re all about. or just take up space. your call bro.</h2>
        </header>
        <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.</p>
        <footer>
          <ul class="buttons">
            <li><a href="#" class="button">Find Out More</a></li>
          </ul>
        </footer>

      </div>
      <div class="4u skel-cell-important">

        <ul class="feature-icons">
          <li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
          <li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
          <li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
          <li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
          <li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
          <li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
        </ul>

      </div>
    </div>
  </section>

  <hr>

  <!-- Two -->
  <section class="wrapper style1 container special">
    <div class="row">

      <div class="12u">
        <h2>Latest Posts</h2>
      </div>

      {% for article in articles_page.object_list %}
      <div class="4u">

        <section>
          <span class="icon feature fa-{{ article.icon }}"></span>
          <header>
            <a href="/{{ article.url }}" rel='bookmark'><h3>{{ article.title }}</h3></a>
          </header>
          <p>{{ article.content[:196]|striptags }}...</p>
          <footer>
              <ul class="buttons">
                  <li><a href="/{{ article.url }}" class="button small">Read More</a></li>
              </ul>
          </footer>
        </section>

      </div>
      {% endfor %}

    </div> <!-- /.row -->

    {% include 'pagination.html' %}

  </section> <!-- /section -->

</article>

{#% include 'coolstuff.html' %#}
{% include 'cta.html' %}

{% endblock content %}