{% extends "base.html" %}

{% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<style>
.image:before{
  background-image: None;
}
mdi {
  font-size: 9em;
  margin-top: -150;
}

</style>


<!-- Main -->
<article id="main">

  <header class="special container">
    {% if not page.icon is defined %}
    <span class="mdi mdi-gears"></span>
    {% else %}
    <span class="{{ page.icon }}"></span>
    {% endif %}
    <h2>{{ page.title }}</h2>
    <!-- add page sub title here -->
    <!-- <p>Where that in the center faces the nameless horrors alone.</p> -->
  </header>

  <!-- One -->
  <section class="wrapper style4 container">

    <!-- Content -->
      <div class="content">
        <section>
          <!-- <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a> -->
          <p>{{ page.content }}</p>
        </section>
      </div>

  </section>

  <!-- Two -->
  <!-- {% include 'most_recent.html' %} -->

  </article>
{% endblock content %}
