{% extends "base.html" %}

{% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    {% if page.self == 'True' %}
      <span class="icon"><img class="clown" src="/images/me.jpg" ></span>
    {% else %}
      <span class="icon fa-{{ page.icon }}"></span>
    {% endif %}
    <h2>{{ page.title }}</h2>
    <!-- add page sub title here -->
    <p>$ cat /pages/{{ page.title|lower }}/index.html | grep '{{ page.title }}'</p>
  </header>

  <!-- One -->
  <section id="page" class="wrapper style4 container">

    <!-- Content -->
      <div class="content">
        <section>
          <!-- <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a> -->
          <p>{{ page.content }}</p>
        </section>
      </div>

  </section>

  <!-- Two -->
  {% include 'most_recent.html' %}

  </article>
{% endblock content %}