{% extends "base.html" %}

{% block content %}
<!-- Main -->
<style>
.image:before{
  background-image: None;
}
.image.feature img{
  /*Make headshots circles*/
  border-radius: 50%;
}
</style>
<article id="main">

  <header class="special container">
    <span class="icon fa-mobile"></span>
    <h2>{{ page.title }}</h2>
    <!-- add page sub title here -->
    <p>Team RNA.</p>
  </header>

  <!-- One -->
  <section class="wrapper style4 container">

    <!-- Content -->
      <div class="content">
        {% for display_name, position in PEOPLE_POSITION_ORDER %}
          <section>
            <h3>{{ display_name }}</h3>
            <div class="row">
            {% for name, person in page.persons[position].items() %}
              <div class="2u">
                 <!-- The initial slash is important because otherwise the links
                  are relative to the "people" page -->
                  <a href="/{{ person.url }}" class="image feature">
                    <img src="{{ person.headshot }}" alt="{{ name }}"/>
                  {{ person.title }}</a>
              </div>

                {% if loop.last  %}
                <!-- If it's the last person in the section or we've gotten to
                6 people ("2u" class means out of the 12 columns of the webpage,
                each person's photo and name will take up 2 units, hence divisible
                by 6), close the row -->
                  </div>
                {% endif %}

              {% endfor %}
         <!-- Close the section if we're out of people -->
         </section>
        {% endfor %}


      <h2><a href="/alumni/index.html">Alumni</h2>
      </div>

  </section>


  </article>
{% endblock content %}
