{% extends "base.html" %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-mobile"></span>
    <h2>{{ page.title }}</h2>
    <!-- add page sub title here -->
    <p>Team RNA.</p>
  </header>

  <!-- One -->
  <section class="wrapper style4 container">

    <!-- Content -->
      <div class="content">
        <section>
          {% for name, person in page.people.items() %}
            <div class="2u">

              <section>
                <a href="person" class="image feature"><img src="{{ person.headshot }}" alt="{{ name }}"/></a>
                <a name="{{ person.title }}">{{ person.title }}</a>
              </section>
            </div>

          {% endfor %}

        </section>
      </div>

  </section>

  <!-- Two -->
  {% include 'most_recent.html' %}

  </article>
{% endblock content %}
