{% extends "base.html" %}

{% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<style>
.image:before{
  background-image: None;
}
img.clown {
  height: 100%;
  /*Border-radius 50% makes it a circle*/
  border-radius: 50%;
  margin-top: -49px;
}
</style>
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon"><img src="{{ page.headshot }}" class="clown"></span>
    <h2>{{ page.title }}</h2>
    <!-- add page sub title here -->
    <p>{{ page.position }}<br>
    {{ page.affiliation }}<br>
    {% if page.fellowship %}
    {{ page.fellowship }} Fellow<br>
    {% endif %}
    {{ page.email }}</p>
  </header>

  <!-- One -->
    <section class="wrapper style4 container">

      <!-- Content -->
        <div class="content">
          <section>
            <p>{{ page.content }}</p>
          </section>
        </div>

    </section>

  </article>

{% endblock content %}
