{% extends "base.html" %}

{% block title %}{{ page.title|striptags }} | {{ super() }}{% endblock title %}

{% block content %}
<article id="main">

  <header class="special container">
    <span class="mdi mdi-magnify"></span>
    <!-- add page sub title here -->
    <p>RNA, neuroscience, pluripotency.</p>
  </header>


<section class="wrapper style3 container special">

  <header class="major">
    <h2>Next look at this <strong>cool stuff</strong></h2>
  </header>

  <div class="row">
    <div class="6u">

      <section>
        <a href="#" class="image feature"><img src="images/pic01.jpg" alt="" /></a>
        <header>
          <h3>A Really Fast Train</h3>
        </header>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
      </section>

    </div>
    <div class="6u">

      <section>
        <a href="#" class="image feature"><img src="images/pic02.jpg" alt="" /></a>
        <header>
          <h3>An Airport Terminal</h3>
        </header>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
      </section>

    </div>
  </div>
  <div class="row">
    <div class="6u">

      <section>
        <a href="#" class="image feature"><img src="images/pic03.jpg" alt="" /></a>
        <header>
          <h3>Hyperspace Travel</h3>
        </header>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
      </section>

    </div>
    <div class="6u">

      <section>
        <a href="#" class="image feature"><img src="/images/research/immunology_singlecell.png" alt="" /></a>
        <header>
          <h3>And Another Train</h3>
        </header>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
      </section>

    </div>
  </div>

  <!-- <footer class="major">
    <ul class="buttons">
      <li><a href="#" class="button">See More</a></li>
    </ul>
  </footer> -->

</section>

<section class="wrapper style4 container">

  <!-- Content -->
    <div class="content">
      <section>
        <!-- <a href="#" class="image feature"><img src="images/pic04.jpg" alt="" /></a> -->
        <p>{{ page.content }}</p>
      </section>
    </div>

</section>

<!-- Two -->
{% include 'most_recent.html' %}

</article>
{% endblock content %}
